// Definición de variables
$text-color: #7b5c72;
$secondary-text-color: #65475c;

$bg-ppal-color: #eed6e7;
$bg-color: #c8adc0;
$secondary-bg-color: #af92a7;

$border-color: rgba(#65475c, 0.3);

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#book {
  animation: fadeIn 0.4s ease-in-out;
}

.profile-header {
  font-size: 2rem; // Cambia el tamaño del texto del encabezado
  color: $secondary-bg-color;
}

.custom-focus {
  &:focus {
    border-color: $secondary-bg-color;
    box-shadow: 0 0 0 2px rgba($secondary-bg-color, 0.5);
    outline: none;
  }
}

.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;

  .user-img {
    width: 17.5rem;
    object-fit: cover;
    filter: drop-shadow(0 0 2rem #7b5c72);
  }

  .edit-options {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    .toggle-switch {
      position: relative;
      display: inline-block;
      width: 2.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $bg-ppal-color;
        transition: 0.4s;
        border-radius: 1.5rem;

        &.round {
          border-radius: 1.5rem;
        }
      }

      input:checked + .slider {
        background-color: $bg-color;
      }

      .slider::before {
        position: absolute;
        content: "";
        height: 1.125rem;
        width: 1.125rem;
        left: 0.1875rem;
        bottom: 0.1875rem;
        background-color: $secondary-text-color;
        transition: 0.4s;
        border-radius: 50%;
      }

      input:checked + .slider::before {
        transform: translateX(1rem);
      }
    }

    .toggle-text {
      color: #7b5c72;
    }
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.4s forwards;
}

@media (max-width: 766px) {
  .profile-container {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0;
    height: auto;
  }

  .nav-list {
    flex-direction: row;
    width: 100%;
  }

  .nav-item {
    flex: 1;
    justify-content: center;
    padding: 10px 0;
  }

  .content {
    width: 100%;
    padding: 1rem;
  }

  .content-inner {
    width: 100%;
    padding: 1rem;
  }

}


.selected-flag img {
  border: 2px dashed $secondary-bg-color;
}

/* Alinear las imágenes de las banderas en una fila */
.input-group .flex-wrap {
  display: flex;
  flex-wrap: nowrap; /* Evita que se envuelvan a la siguiente línea */
}

/* Ajustes para hacer el input clickeable */
.input-group input[type="radio"] {
  width: 100%;
  height: 100%;
}